*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    background-color: #1D2733;
    height: 70px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px 0px 80px;
    position: sticky;
    top: 0px;
}
.logo{
    font-size: 25px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-items{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.;
}
.nav-items li{
    list-style: none;
    margin: 0px 10px;
}
.nav-items li a{
    text-decoration: none;
    padding: 10px 15px;
    font-size: 25px;
    color: white;
}
.nav-items li a:hover{
    background-color: #0a0c0f;
    border-radius: 5px;
}
#click{
    display: none;
}
.menu-btn{
    color: white;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

/* responsive start  */
@media only screen and (max-width:940px){
    .menu-btn{
        display: block;
    }
    .nav-items{
        position: fixed;
        top: 100%;
        background-color: #1D2733;
        flex-direction: column;
        border-radius: 0px 0px 5px 5px;
    }
    #click:checked ~ .menu-btn i::before{
        content: "\f00d";
    }
    #click:checked ~ .nav-items{
        top: 70px;
        right: 0px;
    }
    .nav-items li{
        margin: 20px 30px;
    }
}
/* nav resposive end  */
/* header start  */
header{
    background-image: url(image/banner.jpg);
    height: 93vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-box{
    width: 50%;
    display: flex;
    justify-content: center;
}
.search-box input{
    width: 80%;
    border: none;
    border-radius: 20px 0px 0px 20px;
    padding: 15px;
    font-size: 100%;
    outline: none;
}

.search-box a{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid black;
    padding: 10px;
    font-size: 25px;
    background-color: white;
    border-radius: 0px 15px 15px 0px;
}
/* hero end  */
/* first section start  */
#first-section{
    background-color: #16213E;
    padding: 50px 0px;
}
.service-title{
    text-align: center;
    color: white;
    padding: 30px 0px;
    font-size: 30px;
}
.service-part{
    width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}
.single-service{
    background-color: white;
    border-radius: 5px;
    padding: 30px 20px;
    text-align: center;
}
.single-service i{
    font-size: 40px;
}
.single-service h2{
    margin: 10px 0px;
}
/* second section  */
#second-section{
    background-color: #1d3d70;
    padding: 50px 0px 100px 0px;
}
.smart-title{
    text-align: center;
    margin-bottom: 50px;
    color: white;
    font-size: 30px;
}
.smart-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    gap: 100px;
}
.smart-text{
    color: white;
}  
.smart-text h2{
    margin: 20px 0px;
    font-size: 30px;
    
}
.smart-text a{
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #16213E;
    display: inline-block;
    color: white;
    margin-top: 20px;
}  
.smart-text a:hover{
    background-color: #14181d;
}
/* third section start  */


/* responsive service part  */
@media only screen and (max-width: 688px) {
    .service-part{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        width: 80%;
    }
    .smart-parent{
        display: block;
        margin-left: 20px;
        margin-right: 20px;
    }
    .image-div{
        width: 300px;
        margin: auto;
        margin-bottom: 40px;
    }
    
    .image-div img{
        width: 100%;
    }
}
@media only screen and (min-width: 689px) and (max-width: 945px){
    .service-part{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
        width: 80%;
    }
    .smart-parent{
        display: block;
        margin-left: 50px;
        margin-right: 50px;
    }
    .image-div{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
    }
}
@media  only screen and (min-width: 946px) and (max-width:1050px) {
    .smart-parent{
        display: block;
        margin-left: 50px;
        margin-right: 50px;
    }
    .image-div{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
    }
    
}
@media only screen and (min-width: 946px){
    .service-part{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
        width: 80%;
    }
}
